#overlay {
    background-color: rgba(73, 66, 66, 0.3);
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    visibility: hidden;
}

.creation-box {
    padding: 0;
    top: 0;
    background-color: #09090A;
    width: 75%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.creation-box h2 {
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Disabled till future upgrade */
/* .name-box {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

.name-box p {
    margin-bottom: 10px;
}

.name-box input {
    padding-left: 5px;
} */

.icon-box {
    flex: 11;
    display: flex;
    flex-direction: column;
}

.icon-box p {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icons-container {
    flex: 5;
    margin: 0px 15px 15px;
    border-radius: 8px;
    background-color: rgb(26, 24, 24);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px
}

#icons-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#icons-container label {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content:center;
}

#icons-container input {
    display: none;
}

#icons-container input:checked + label {
    background-color: rgb(204, 126, 139);
    border-radius: 3px;
}

#creation-habit-buttons {
    display: flex;
    justify-content: space-around;
    padding: 0 20% 5%;
}

#creation-habit-buttons button {
    font-size: 12px;
    font-weight: 700;
    padding: 3px 15px;
    margin: 0 20px;
}

@media (min-width: 614px){
    .creation-box {
        width: 460px;
    }
}

@media (max-height: 480px){
    #overlay {
        overflow: auto;
    }
}